/* Import Google Fonts */
@import url('[https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap](https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap)');

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Nunito', sans-serif;
  }

/* CSS Variables */
:root {
--bg-color: linear-gradient(90deg, rgba(200,220,255,0.8) 0%, rgba(150,180,255,0.8) 50%, rgba(180,230,255,0.8) 100%);
--snd-bf-color: #e0e4f1; /* lighter secondary background */
--text-color: #222; /* darker text for readability on light background */
--main-color: #5982f4;
}

/* Body */
html { font-size: 62.5%; }
body {
background: var(--bg-color);
color: var(--text-color);
}
